<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开始</title>
</head>
<body>
<a href="selectAll">查询所有</a>
<hr/>

<form action="selectWhere">
    按id查询：<input type="text" name="id">
    <input type="submit" value="查询">
</form>
<hr/>

<p>插入</p>
<form action="insert" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td>地址</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input type="text" name="gender"></td>
        </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="添加"></td>
        </tr>
    </table>
</form>
<hr/>
<p>更新</p>
<form action="update">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td>地址</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="更新"></td>
        </tr>
    </table>
</form>
<hr/>
<form action="delete">
    按id删除：<input type="text" name="id"><input type="submit" value="删除">
</form>
</body>
</html>